@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --navy: #002772;
  --blue: #d6e6ff;
  --magenta: #720060;
  --pink: #fde2ff;
  --netral: #3f3f3f;
  --black: #1e1e1e;
  --white: #ffffff;
  --gray: #dcdcdc;
}

.container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-men-color {
  background: linear-gradient(180deg, var(--blue) 65%, var(--white) 50%);
}

.bg-women-color {
  background: linear-gradient(180deg, var(--pink) 65%, var(--white) 50%);
}

.bg-unavailable {
  background: linear-gradient(180deg, var(--gray) 65%, var(--white) 50%);
}

.bg-white {
  background-color: var(--white);
}

.bg-navy {
  background-color: var(--navy);
}

.bg-magenta {
  background-color: var(--magenta);
}

.overlay,
.overlay > img {
  width: 100%;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: -12%;
  left: 0;
}

.card {
  display: flex;
  position: relative;
  z-index: 2;
  width: 80%;
  height: 90%;
  background-color: var(--white);
  border-radius: 16px;
  padding: 56px 48px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
}

.load-thumbnail {
  height: 100%;
}

.load-text-details,
.load-thumbnail {
  width: 100%;
  background-color: var(--gray);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.load-text-details {
  height: 70%;
}

.load-details-action {
  width: 100%;
  height: 25%;
  margin-top: 24px;
  background-color: var(--gray);
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.product-container {
  width: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  /* gap: 16px; */
  height: 100%;
}

.load {
  display: grid;
  gap: 16px;
}

.product-image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image > img {
  width: 70%;
  height: auto;
}

.product-text {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.product-text .title {
  font-size: 32px;
  font-weight: 500;
}

.title h4 {
  font-size: 80%;
  font-weight: 600;
}

.font-men {
  color: var(--navy);
}

.font-women {
  color: var(--magenta);
}

.product-text .sub-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-top: 14px;
  font-size: 16px;
  color: var(--netral);
  padding-bottom: 16px;
  border-bottom: 1px solid var(--gray);
}

.product-text .rating {
  display: flex;
  gap: 8px;
  align-items: center;
}

.rating > .circle {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 100%;
}

.product-text .description {
  width: 100%;
  padding: 8px 0;
  font-size: 14px;
  color: var(--black);
}

.description p {
  line-height: 1.5;
  font-weight: 300;
  text-align: justify;
}

.product-text > .action {
  padding-top: 16px;
  border-top: 1px solid var(--gray);
}

.product-text .price {
  font-size: 32px;
  font-weight: 600;
}

.product-unavailable-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-unavailable-container > .overlay {
  top: 10%;
  left: 5%;
}

.product-unavailable-container > .product-text {
  text-align: center;
  z-index: 2;
}

.cta {
  margin-top: 8px;
  width: 100%;
  display: flex;
  gap: 12px;
}

.cta > .cta-buy {
  color: var(--white);
  border: none;
}

.cta > .cta-next {
  background-color: var(--white);
}

.cta > .cta-buy,
.cta > .cta-next {
  width: 32%;
  height: 40px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.product-unavailable-container .cta-next {
  margin: 0 auto;
  border: 2px solid var(--black);
  color: var(--black);
}

.border-men {
  border: 2px solid var(--navy);
}

.border-women {
  border: 2px solid var(--magenta);
}

@keyframes pulse {
  0%,
  to {
    opacity: 0.8;
  }

  50% {
    opacity: 0.3;
  }
}
